<article class="post-view">
  <div class="post-view__header">
    <div class="post-view__avatar">
       <span
         class="glyphicon glyphicon-user clickable" aria-hidden="true"
         ng-click="postvm.postUserClickHandler(postvm.userId)"></span>
    </div>
    <div class="post-view__author">
      <span class="clickable" ng-click="postvm.postUserClickHandler(postvm.userId)">{{:: postvm.userId}}</span>
    </div>
    <span class="post-view__date">
      {{:: postvm.createdAt | date : "shortDate" }} {{:: postvm.createdAt | date : "mediumTime" }}</span>
  </div>
  <div class="post-view__body">{{:: postvm.message}}</div>
  <div class="post-view__footer"></div>
</article>
