<div class="user-profile-box">
  <header>
    <h3>
      {{profileboxvm.fullProfile.first_name}}
      {{profileboxvm.fullProfile.last_name}}
    </h3>
    <div ng-if="!profileboxvm.isMyFollowee(profileboxvm.userId)" ng-click="profileboxvm.unfollowClickHandler(profileboxvm.userId)" class="clickable">
      <span class="glyphicon glyphicon-eye-open"></span> follow
    </div>
    <div ng-if="profileboxvm.isMyFollowee(profileboxvm.userId)" ng-click="profileboxvm.followClickHandler(profileboxvm.userId)"  class="clickable">
      <span class="glyphicon glyphicon-eye-close"></span> unfollow
    </div>

  </header>

  <a href="{{profileboxvm.fullProfile.link}}" target="_blank">Facebook</a>

  <p>{{profileboxvm.fullProfile.gender}}</p>
</div>


