<div class="container">
  <h2>Profile</h2>

  <div class="timeline-container row">
    <div class="col-md-8">
      <div ng-repeat="element in profileCtrl.getPosts">
        <social-module-post data-message="element.message" data-user-id="element.userId"
                            data-created-at="element.createdAt"></social-module-post>
      </div>
      <div class="next-page-container  text-center">
        <button ng-class="{'disabled' : profileCtrl.endOfTimeline}" class="btn btn-default"
                ng-click="profileCtrl.getNextPage()">poprzednie
        </button>
         <span ng-if="profileCtrl.endOfTimeline">
          To jest już koniec, nie ma już nic!
          </span>
      </div>
    </div>

    <div class="col-md-4">
      <profile-module-profile data-user-id="22"></profile-module-profile>
      <div class="user-profile-box">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </div>
    </div>
  </div>
</div>

